* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
li {
  background-color: darkslateblue;
  margin: 1.0em;
  width: 120px;
  text-align: center;
}
li a { 
  padding: 0.5em 1.0em;
  text-decoration: none; 
  color: white; 
  display: block;
  width: 100%;
  height: 100%;
}
a:hover { 
  background: gold; 
  color: black; 
}



/* default styling for the page / instructions - you don't need to touch this unless you really want to */
/*body {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 5.0em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 1.0em;
}
ol li, ul li {
  padding-bottom: 0.5em;
}
p {
  line-height: 1.3em;
  margin-top: 0;
}
.button {
  background-color: #eb3b5a;
  padding: 0.5rem 1rem;
  border: 1px solid #eb3b5a;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 1em 0 5rem;
}
.button:hover {
  color: #eb3b5a;
  background-color: white;
}