/* =========================
   Button Component Styles
   ========================= */

.vertical-navbar-page__button {
  background-color: var(--accent-red);
  padding: 0.5rem 1rem;
  border: 1px solid var(--accent-red);
  border-radius: 30px;
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 1em 0 5rem;
  outline: none;
  transition: background 0.2s, color 0.2s, outline 0.2s;
}
.vertical-navbar-page__button:hover,
.vertical-navbar-page__button:focus {
  color: var(--accent-red);
  background-color: var(--white);
  outline: 2px solid var(--accent-red);
  outline-offset: 2px;
}
